<div class="container">

    <div class="row">
       <div class="col-xs-12">
        <label>Employee Name</label>
        <input type="text" class="form-control" [(ngModel)]="EmployeeName">
        <label>Employee Address</label>
        <input type="text" class="form-control" [(ngModel)]="EmployeeAddress">
        <label>Employee Contact</label>
        <input type="text" class="form-control" [(ngModel)]="EmployeeContact">
        <label>Employee Mail</label>
        <input type="text" class="form-control" [(ngModel)]="EmployeeEmail">
        <br>
        <button class="btn btn-primary" (click)="onAddEmployee()">Submit</button> 
  
       </div> 
    </div>
  </div>